# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# macOS system files that should not be copied or moved
Icon
._*

# macOS ._* files should be ignored
._*

# Thumbnails
._.VolumeIcon.icns

# Files that might appear during use of macOS
.Trashes
.Trash-*

# Ignore the database
db.sqlite3
db.sqlite3-journal

# VS Code specific files
.vscode/
.history/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
staticfiles/
media/

# Local and development settings
local_settings.py

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.pytest_cache/*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
